/django.vscode-server
/pytorch.vscode-server
__pycache__
/pytorch/dataset/*
/pytorch/result/*
/pytorch/weight/*
/pytorch/mlruns
/pytorch/artifact/*
*.log
!.keeps
pytorch/nohup.out
info.ignore
php.ini-production
php.ini-development